<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51">
      <section name="Plum.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="URL" value="http://localhost:5000" />
    <add key="ClientId" value="Plum_App" />
    <add key="ClientSecret" value="5AC48988-3805-4327-9210-916D284C7353" />
    <add key="Scope" value="Plum" />
  </appSettings>
  <userSettings>
    <Plum.Properties.Settings>
      <setting name="IsRestarting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowHandle" serializeAs="String">
        <value>0</value>
      </setting>
    </Plum.Properties.Settings>
  </userSettings>
</configuration>